body {
    background-color: rgb(182, 88, 240);
    margin: 30px
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(247, 239, 14);
    outline: darkblue;
}

img {
    width: 100px;
    height: 100px;
    margin-top: 15px;
}

.row {
    text-align: center;
    padding: 50px;
}

#create {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

#btn {
    margin: 5px;
}